section
	h2 O que você vai precisar:
	ul
		li(class="fragment") 1 Arduino
		li(class="fragment") 1 Garoa Dojo Shield
		li(class="fragment") terminal(para rodar a aplicacão node)
		li(class="fragment") Cérebro