section(data-url='https://garoa.net')
	section
		h2 Garoa Dojo Shield
		
		a(href='https://github.com/garoa/dojo-shield') https://github.com/garoa/dojo-shield

	section(data-background="img/dojo-shield.jpg")
	section
		h2 O que é um Coding Dojo?
		img(src='img/shinkendo.gif' alt='Coding Dojo')
	section(style="display: block;")
		h3 Um coding dojo é isso aqui! 
		p(class="fragment") De acordo com o 
		a(class="fragment" href="http://codingdojo.org/") http://codingdojo.org/
		blockquote(class="fragment" cite="http://codingdojo.org/")
			"A Coding Dojo is a meeting where a bunch of coders get together to work on a programming challenge."