section
	section
		h2 npm modules
		ul
			li(class="fragment") express
			li(class="fragment") websockets
			li(class="fragment") twitter
			li(class="fragment") ar-drone
			li(class="fragment") dualsock-controller
	section
		h2 dualshock-controller
		p video teste dualshock controller no garoa dojo shield
	section(data-background="img/wow.gif")
	section
		h2 Control a car
		iframe(src="https://player.vimeo.com/video/86477674" width="700" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)