section
	section
		h1 Arduino
		a(href="https://www.arduino.cc/") https://www.arduino.cc/
	section(data-background="img/arduino.jpg" data-background-color="#fff" data-background-size="1000px")
	section
		h2 Shield's para arduino
		img(src="img/shield.jpg")
		img(src="img/shield.jpg")