section
	section
		h2 NodeBots
		a(href="http://nodebots.io/") http://nodebots.io/
	section
		h2 Mas porque node.js?
		p(class="fragment") Porque é Javascript!
	section(data-background-image="img/serious.gif")
	section
		h2 Mais motivos
		br
		ul
			li(class="fragment") Fácil de aprender.
			li(class="fragment") Para front's e back-end's
			li(class="fragment") Mais usada no github(comunidade open)
			li(class="fragment") Chrome V8 <strike>Stamin-up</strike>
			li(class="fragment") non-bloking IO
			li(class="fragment") npm - varios modulos
